*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppin',Arial;
}

.header{
    font-weight: 700;
    text-align: center;
    padding: 32px;
    background: rgb(9,9,121);
    background: linear-gradient(158deg, rgba(9,9,121,1) 15%, rgba(2,0,36,1) 50%, rgba(9,9,121,1) 85%);
    color: white;
}

.container{
    display: flex;
}

.left{
    height: 90vh;
    width: 20%;
    background-color: aqua;
    padding: 30px;
}

ul{
    list-style: none;
}

li{
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}

.right{
    height: 90vh;
    width: 80%;
    text-align: center;
    padding: 50px;
}

.home{
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 40px;
}

.right h1{
    text-align: left;
    margin-bottom: 10px;
}

.content{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

tr,th,td,table{
    padding: 10px 40px;
    border: 2px solid black;
    border-collapse:collapse ;
}